.container {
  color: ghostwhite;
}

body {
  font-family: Impact, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: dimgray;
}
.hero {
  width: 100;
  height: 100vh;
  background-image: url(images/blm2.jpg);
  background-size: cover;
  background-position: relative;
  overflow: hidden;
}
